[project]
name = "pysonrpc"
version = "0.1.0"
description = "Python json RPC client"
authors = ["Vivien Chene <viv.chene@gmail.com>"]
channels = ["conda-forge"]
platforms = ["osx-64", 'linux-64', 'linux-aarch64']

[tasks]
build = { cmd = "pip install -e .", cwd = "./" }
dev = { cmd = ["pysonrpc", "-r", "$KODI_URL", "-a"] }
test = { cmd = "tox", cwd = "./" }
build-release = {cmd = ["python3", "-m", "build"], cwd = "./", depends_on = ["test"]}
release = {cmd = ["release.sh"], cwd = "./", depends_on = ["test"]}
coverage =  {cmd = ["codecovcli", "--verbose", "upload-process", "--fail-on-error", "-t", "$CODECOV_TOKEN", "-f", "docs/coverage/coverage.xml"], cwd = "./"}

[dependencies]
python = ">=3.10,<3.13"
requests = ">=2.31.0,<2.32"
prettytable = ">=3.10.0,<3.11"
pip = ">=24.0,<25"
tox = ">=4.13.0,<4.14"
build = ">=0.7.0,<0.8"
